asgiref==3.7.2
Django==4.2.7
django-bootstrap5==23.3
django-extensions==3.2.3
django-filter==23.4
django-seeder==0.1.0
-e git+https://github.com/zemelko/employee_hierarchy.git@48ddc18b1d50e9c4d20ffe632eea8af15db03e50#egg=employee_hierarchy
Faker==19.13.0
flake8==6.1.0
gunicorn==21.2.0
mccabe==0.7.0
packaging==23.2
psycopg==3.1.13
pycodestyle==2.11.1
pyflakes==3.1.0
python-dateutil==2.8.2
python-dotenv==0.21.1
six==1.16.0
sqlparse==0.4.4
toposort==1.10
typing_extensions==4.8.0
