{% extends "base.html" %}
{% load i18n crispy_forms_tags %}
{% block content %}
    {% if request.user.is_authenticated %}
        <form action="" method="get">
            {% crispy filter.form %}
        </form>
    {% endif %}
    <div class="table-responsive">
        {% include "components/pagination.html" %}
    <hr>
        <table class="table table-hover">
            <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">ID</th>
                <th scope="col">{% trans "Name" %}</th>
                <th scope="col">{% trans "Job title" %}</th>
                <th scope="col">{% trans "Date offered" %}</th>
                <th scope="col">{% trans "Salary" %}</th>
                <th scope="col">{% trans "Supervisor" %}</th>
            </tr>
            </thead>
            <tbody>
            {% for employee in employees %}
                <tr>
                    <th>{{ forloop.counter }}</th>
                    <td>{{ employee.id }}</td>
                    <td>
                        <a href="{% url "employee-detail" employee.id %}">
                            {{ employee }}
                        </a>
                    </td>
                    <td>{{ employee.get_job_title_display }}</td>
                    <td>{{ employee.date_offered }}</td>
                    <td>{{ employee.salary }}</td>
                {% if employee.supervisor %}
                	<td>
                        <a href="{% url "employee-detail" employee.supervisor_id %}">
                            {{ employee.supervisor }}
                        </a>
                    </td>
                {% else %}
                    <td></td>
                {% endif %}
                </tr>
            {% endfor %}
            </tbody>
        </table>
        {% include "components/pagination.html" %}
    </div>
{% endblock %}
