{% extends "base.html" %}
{% load i18n crispy_forms_tags %}
{% block content %}
    <div class="card">
        <div class="card-header bg-secondary text-white">
            <h3>{{ employee }}</h3>
        </div>
        <div class="card-body bg-light">
            <hr>
            <div class="container">
                {% if employee.photo %}
                    <div class="text-center">
                        <img src="{{ employee.photo.url }}" class="img-fluid" 
                             alt="Responsive image">
                    </div>
                {% endif %}
                <br>
                <div class="row p-1">
                    <div class="col">{% trans "First name" %}</div>
                    <div class="col">{{ employee.first_name }}</div>
                </div>
                <div class="row p-1">
                    <div class="col">{% trans "Last name" %}</div>
                    <div class="col">{{ employee.last_name }}</div>
                </div>
                <div class="row p-1">
                    <div class="col">{% trans "Job title" %}</div>
                    <div class="col">{{ employee.get_job_title_display }}</div>
                </div>
                <div class="row p-1">
                    <div class="col">{% trans "Supervisor" %}</div>
                    <div class="col">{{ employee.supervisor }}</div>
                </div>
                <div class="row p-1">
                    <div class="col">{% trans "Date offered" %}</div>
                    <div class="col">{{ employee.date_offered }}</div>
                </div>
                <div class="row p-1">
                    <div class="col">{% trans "Salary RUB" %}</div>
                    <div class="col">{{ employee.salary }} {% trans "RUB" %}</div>
                </div>
                <div class="row p-1">
                    <div class="col">
                        <a href="{% url 'employee-update' employee.id %}">{% trans "Update" %}</a>
                        <br>
                        <a href="{% url 'employee-delete' employee.id %}">{% trans "Delete" %}</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>
{% endblock %}