{% extends "base.html" %}
{% load django_bootstrap5 %}
{% load i18n %}
{% load my_tags %}
{% bootstrap_css %}
{% bootstrap_javascript %}
{% bootstrap_messages %}
{% block content %}
    {% csrf_token %}
    {% if request.user.is_authenticated %}
        <form action="" method="get">
            {{ filter.form.as_p }}
            <button type="submit">{% trans "Filter" %}</button>
            <a href="{% url "employees-index" %}">{% trans "Clear filter" %}</a>
        </form>
    {% endif %}
    <table class="table">
        <thead>
        <tr class="table-primary">
            <th scope="col">#</th>
            <th scope="col">{% trans "First name" %}</th>
            <th scope="col">{% trans "Last name" %}</th>
            <th scope="col">{% trans "Job title" %}</th>
            <th scope="col">{% trans "Date offered" %}</th>
            <th scope="col">{% trans "Supervisor" %}</th>
        </tr>
        </thead>
        <tbody>
        {% trans "CEO" as CEO %}
        {% for employee in employees %}
            <tr>
                <th>{{ forloop.counter }}</th>
                <td>{{ employee.first_name }}</td>
                <td>{{ employee.last_name }}</td>
                <td>{{ employee.get_job_title_display }}
                    {% if not employee.supervisor %}
                        | CEO </td>
                    {% else %}
                        </td>
                    {% endif %}
                <td>{{ employee.date_offered }}</td>
                <td>{{ employee.supervisor|default:"" }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    {% include "components/pagination.html" %}
{% endblock %}
