{% load i18n django_bootstrap5 %}
{% bootstrap_javascript %}
{% bootstrap_css %}

<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>{% trans "Employee hierarchy" %}</title>
    </head>
    <body class="d-flex flex-column min-vh-100">
        <header>
            {% include "components/navbar.html" %}
        </header>
        <main class="container wrapper flex-grow-1">
            {% bootstrap_messages %}
            {% block content %}{% endblock %}
        </main>
        <footer>
            {% include "components/footer.html" %}
        </footer>
    </body>
</html>
