{% load i18n %}
{% load my_tags %}

<div class="pagination justify-content-center">
    <span class="step-links">
    {% if is_paginated %}
        {% if page_obj.has_previous %}
            <a href="?{% param_replace page=1 %}">&laquo; {% trans "First" %}</a>
            <a href="?{% param_replace page=page_obj.previous_page_number %}">{% trans "Previous" %}</a>
        {% endif %}

        <span class="current">
            {% trans "Page" %} {{ page_obj.number }} {% trans "of" %} {{ page_obj.paginator.num_pages }}.
        </span>
        {% if page_obj.has_next %}
            <a href="?{% param_replace page=page_obj.next_page_number %}">{% trans "Next" %}</a>
            <a href="?{% param_replace page=page_obj.paginator.num_pages %}">{% trans "Last" %} &raquo;</a>
        {% endif %}
    {% endif %}
    </span>
</div>